
.footer
  background: linear-gradient(top, #BBB, 5% #CCC, 50% #EAEAEA)
  padding-top: 10px

.footer-list
  font-size: 12px  
  max-width: 1000px
  text-align: center
  color: #666
  margin-top: 20px !important
  margin-bottom: 20px !important

.footer-copyright
  max-width: 1000px
  margin: 0 auto
  text-align: center
  padding-top: 20px 0 40px

.footer-copyright-text
  margin: 0px 40px
  padding: 20px 0
  font-size: 10px
  color: #BBB
  border-top: 1px solid #D1D1D1

.footer-copyright-text a,
.footer-copyright-text a:hover,
.footer-copyright-text a:visited
  color: #999