menu-height = 50px

#header
  max-width: 1000px
  margin: 0 auto 1.5rem
  padding: 1.5rem 0.7rem 0

.header
  /*margin: 0 10px*/
  text-align: center
  background: #545454
  border-radius: 7px
  position: relative

.header-breadcrumbs
  background: transparent !important
  border: 0 !important
  height: 1.8rem !important

.header-breadcrumbs-item
  color: #FFF !important

.current .header-breadcrumbs-item
  color: #ccc !important

.navigation
  border-bottom: 1px solid #000000
  background: #424343
  border-radius: 7px 7px 0px 0px

.navigation-item
  height: menu-height
  border-right: 1px solid #000000
  border-bottom: 1px solid #000000
  margin-bottom: -1px

.navigation-item--first
  border-radius: 7px 0 0 0
  
.navigation-item--selected
  background: #252525

.navigation-item--last
  border-right: none

.navigation-item a,
.navigation-item a:hover,
.navigation-item a:visited
  color: #FFFFFF
  font-size: 14px
  line-height: menu-height
  display: block
