@require "./common"

menu-height = 50px

#header
  /*max-width: 1000px
  margin: 0 auto 1.5rem
  padding: 1.5rem 0.7rem 0*/
  padding: 0 0.7rem

.header-container
  max-width: 1000px
  margin: 0 auto 1.5rem
  padding: 1.5rem 0rem 0

.header
  /*margin: 0 10px*/
  margin: 0 auto 1.5rem
  text-align: center
  background: #545454
  border-radius: 7px
  position: relative

.header--admin
  background: #242628
  margin: 0 -0.7rem
  border-radius: 0px
  padding: 0.5rem

.navigation-admin-item
  color: rgba(255, 255, 255, 0.7)

.header-breadcrumbs
  background: transparent !important
  border: 0 !important
  overflow: inherit !important
  padding-bottom: 0rem !important
  margin-bottom: 0
  
.header:after
  content: "."
  visibility: hidden
  display: block
  height: 0
  clear: both
  padding-top: 7px

.header-breadcrumbs-item
  color: #FFF !important

.current .header-breadcrumbs-item
  color: #ccc !important

/* Main header navigation */

.navigation
  border-bottom: 1px solid #000000
  background: #424343
  border-radius: 7px 7px 0px 0px
  padding-left: 1px

.navigation-item
  border-right: 1px solid #000000
  border-bottom: 1px solid #000000
  margin-bottom: -1px
  padding: 0 !important
  position: relative

.navigation-item--first,
.navigation-item:first-of-type
  border-radius: 7px 0 0 0
  
.navigation-item--selected
  background: #252525

.navigation-item--last
  border-right: none

.navigation-item a,
.navigation-item a:hover,
.navigation-item a:visited
  color: #FFFFFF
  font-size: 14px
  line-height: menu-height
  display: block

.navigation-item-submenu
  background: #545454
  border-bottom: 1px solid #000000
  list-style: none
  padding: 0
  margin: 0 -1px
  z-index: 9
  position: absolute
  top: menu-height
  left: 0
  right: 0

.navigation-item-submenu li
  border-top: 1px solid #333
  border-left: 1px solid #000000
  border-right: 1px solid #000000
  display: none
  
.navigation-item:hover .navigation-item-submenu li
  display: block

.navigation-item a:hover
  background: info_color

.navigation-item:first-of-type a:hover
  border-radius: 7px 0 0 0
  
/* Admin navigation*/

.navigation-admin
  text-align: left

.navigation-admin-item
  padding: 0.5rem 0.5rem 0.5rem 1.8rem
  display: inline-block
  margin-left: 1rem
  transition: background-color 0.5s ease, color 0.5s ease
  background-color: transparent
  border-radius: 5px
  text-transform: uppercase
  font: "Open Sans",sans-serif
  font-size: 14px
  line-height: 14px

.navigation-admin-item span
  font-size: 0.7rem
  letter-spacing: 2px
  vertical-align: 1px
  line-height: 0.7rem
  text-indent: 0.5rem
  display: inline-block
  
  
.navigation-admin-item .fa
  margin-left: -1rem
  margin-right: 0.3rem

.navigation-admin-item:hover
  background-color: #0E0F10

/* mobile screen behavior */

@media screen and (max-width: 40.063em)
  .navigation-item
    height: auto
    border-right: none
    display: none
    
  .navigation-item.navigation-item--selected
    background: transparent
    
  .navigation--expand .navigation-item
    display: block
    
  .navigation-item--first,
  .navigation-item:first-of-type
    border-radius: 7px 7px 0 0
    display: block
    
  .navigation-item--first > a:hover,
  .navigation-item:first-of-type > a:hover
    border-radius: 7px 7px 0 0
  
  .navigation-item-submenu
    position: static
    border-bottom: none
    margin: 0
    
  .navigation-item-submenu li
    border-left: none
    border-right: none
    
  .navigation-item:hover .navigation-item-submenu li
    display: none
  
  .navigation-item--expand .navigation-item-submenu li,
  .navigation-item.navigation-item--expand:hover .navigation-item-submenu li
    display: block

/* Under-bar right menu */

.header-aside
  float: right;
  padding: 0.43rem 0rem 0 1rem

.header-aside-item
  float: right;
  color: #FFF
  font-size: 11px
  padding: 0 1rem 0
  text-transform: uppercase
  
.header-aside-item a,
.header-aside-item a:hover,
.header-aside-item a:visited
  color: #FFF
