menu-height = 50px

#header
  max-width: 1000px
  margin: 0 auto 1.5rem
  padding: 0 10px

.header
  /*margin: 0 10px*/
  text-align: center
  background: #545454
  border-radius: 7px
  padding-bottom: 30px
  position: relative

.header-logo
  position: absolute
  background-image: url("/img/header.png")
  height: 130px
  width: 110px
  background-repeat: no-repeat
  z-index: 99
  right: 20px
  bottom: -32px
  display: block

.navigation
  border-bottom: 1px solid #000000
  background: #424343
  border-radius: 7px 7px 0px 0px

.navigation-item
  height: menu-height
  border-right: 1px solid #000000
  border-bottom: 1px solid #000000
  margin-bottom: -1px

.navigation-item--last
  border-right: none

.navigation-item a,
.navigation-item a:hover,
.navigation-item a:visited
  color: #FFFFFF
  font-size: 14px
  line-height: menu-height
  display: block
