
@require "nib"

@require "utils/mixins"

body
  margin: 0px auto
  background-color: #FAFAFA
  font-family: "Open Sans"
  
.page-loader
  display: table
  position: absolute;
  width: 100%
  height: 100%
  left: 0
  
  .spinner
    display: table-cell
    text-align: center
    vertical-align: middle

@require "head"

@require "content"

@require "footer"

@require "assets/styl/utils/spinner"

@require "libs/normalize"

@require "libs/foundation"
