@require('../common')

.generic-not_found
  margin: 2rem auto 0
  text-align: left
  border: 0 !important
  min-height: 500px
  padding: 1.5rem
  border-radius: 7px 7px 0px 0px

.generic-not_found-image
  background: url("/img/heart.png") no-repeat top
  max-width: 300px
  height: 380px
  margin: 40px auto 20px auto
  background-repeat: no-repeat
  background-size: contain
  text-align: center

.generic-not_found-header
  margin: 2rem 0 1rem
  text-transform: capitalize

.generic-not_found-text
  margin: 0rem 0
  text-align: left
  font-size: 0.9rem

.generic-not_found-suggestion
  margin: 1rem 0 0.3rem
  font-size: 1rem
  font-weight: bold
  text-align: left

.generic-not_found-list
  text-align: left

.generic-not_found-list-item
  font-size: 0.9rem
  margin-left: 0.5rem
  

.generic-error_box
  margin: 2rem auto 0
  text-align: left
  border: 0 !important
  min-height: 500px
  padding: 1.5rem
  border-radius: 7px 7px 0px 0px

.generic-error_box-image
  background: url("/img/heart.png") no-repeat top
  max-width: 300px
  height: 380px
  margin: 40px auto 20px auto
  background-repeat: no-repeat
  background-size: contain
  text-align: center

.generic-error_box-header
  margin: 2rem 0 1rem
  text-transform: capitalize

.generic-error_box-text
  margin: 0rem 0
  text-align: left
  font-size: 0.7rem
  color: sub_color

.generic-critical_error
  display: table
  position: absolute
  width: 100%
  height: 100%
  left: 0

.generic-critical_error-box
  display: table-cell
  text-align: center
  vertical-align: middle

.generic-critical_error-box-img
  background: url("/img/sad.png") no-repeat top
  background-size: contain
  height: 300px
  width: 100%
  margin: 0

.generic-critical_error-box-title
  color: critical_error_color
  padding: 0 1rem
  
.generic-critical_error-box-link
  font-size: 0.8rem
  margin: -0.5rem 0 0.5rem
  display: block

.generic-critical_error-box-stack
  font-size: 0.7rem
  color: sub_color

.link-error
  color: error_color !important

.navigation-item .link-error
  color: #f26c6e !important