.generic-not_found
  margin: 2rem auto 0
  text-align: left
  border: 1px solid #CECECE
  border-bottom: none
  min-height: 500px
  padding: 1.5rem
  border-radius: 7px 7px 0px 0px

.generic-not_found-image
  background: url("/img/heart.png") no-repeat center
  width: 300px
  height: 380px
  margin: 40px 0 20px 20px
  display: inline-block
  background-repeat: no-repeat