.generic-not_found
  margin: 2rem auto 0
  text-align: left
  border: 1px solid #CECECE
  border-bottom: none
  min-height: 500px
  padding: 1.5rem
  border-radius: 7px 7px 0px 0px

.generic-not_found-image
  background: url("/img/heart.png") no-repeat top
  max-width: 300px
  height: 380px
  margin: 40px auto 20px auto
  background-repeat: no-repeat
  background-size: contain
  text-align: center

.generic-error
  display: table
  position: absolute
  width: 100%
  height: 100%
  left: 0

.generic-error-box
  display: table-cell
  text-align: center
  vertical-align: middle

.generic-error-box-img
  background: url("/img/sad.png") no-repeat top
  background-size: contain
  height: 300px
  width: 100%
  margin: 0

.generic-error-box-title
  color: #9E0C0F
  padding: 0 1rem
  
.generic-error-box-link
  font-size: 0.8rem
  margin: -0.5rem 0 0.5rem
  display: block

.generic-error-box-stack
  font-size: 0.7rem
  color: #999

.link-error
  color: #9E0C0F !important

.navigation-item .link-error
  color: #f26c6e !important