.login
  margin: 2rem auto 0
  text-align: left
  border: 1px solid #CECECE
  border-bottom: none
  min-height: 500px
  padding: 1.5rem
  border-radius: 7px 7px 0px 0px

.login-form,
.forgot-form
  max-width: 500px
  margin: 0 auto

.login-errors
  margin: 1rem 1rem 0 1rem
  color: #941616
  text-align: center
  
.login-button
  padding-top: 0.5rem !important
  padding-bottom: 0.5rem !important

.login-alt
  padding-right: 1.1rem !important
  line-height: 2rem
  font-size: 0.9rem
  text-align: right

.login-meta
  border-top: 1px solid #CECECE
  font-size: 0.7rem
  margin-top: 1.5rem
  padding-top: 0.7rem
  text-align: center

.login-meta a
  display: block
  line-height: 1.5rem
  
.forgot-image
  background: url("/img/tsun.png") no-repeat center
  width: 300px
  height: 380px
  margin: 40px 0 20px 55px
  display: inline-block
  background-repeat: no-repeat