@require('../common')

.profile
  text-align: left
  min-height: 500px

.profile-form
  max-width: 500px
  margin: 0 auto

.profile-message
  margin: 0.5rem 0 1rem 1rem
  text-align: center

.profile-message--error
  color: error_color

.profile-message--info
  color: info_color
  
.profile-message--success
  color: success_color
  
.profile-disclaimer
  font-size: 0.8rem
  text-align: center

.profile-meta
  font-size: 0.7rem
  padding-left: 0.5rem
  text-align: left
  display: inline-block
  color: sub_color

.profile-header
  background: linear-gradient(top, #8b8b89, 100% #CECECE)
  //border: 3px solid
  border-radius: 7px 7px 0 0
  margin: -4px -1px 0
  padding: 1px
  
.profile-header-inside
  background: linear-gradient(top, #b2b2b0, 100% #f3f3f3)
  border-radius: 6px 6px 0 0
  height: 310px
  padding: 0.1rem
  position: relative
  
.profile-header h3
  font-size: 1.5rem
  line-height: 1.5rem
  line-height: 2rem
  font-weight: bold
  padding: 1rem 0rem 0rem 3rem

.profile-header-inside-image
  position: absolute
  left: 1rem
  right: 0rem
  height: 300px

.profile-header-inside-image--profile
  background: url(/img/sitting.png) bottom right no-repeat
  background-size: contain
  bottom: 0px
  height: 270px