.profile
  text-align: left
  min-height: 500px

.profile-form
  max-width: 500px
  margin: 0 auto

.profile-message
  margin: 0.5rem 0 1rem 1rem
  text-align: center

.profile-message--error
  color: #9E0C0F

.profile-message--info
  color: #2285A2
  
.profile-message--success
  color: #4A831C
  
.profile-disclaimer
  font-size: 0.8rem
  text-align: center

.profile-meta
  font-size: 0.7rem
  padding-left: 0.5rem
  text-align: left
  display: inline-block