.profile
  margin: 2rem auto 0
  text-align: left
  border: 1px solid #CECECE
  border-bottom: none
  min-height: 500px
  padding: 1.5rem
  border-radius: 7px 7px 0px 0px

.profile-form
  max-width: 500px
  margin: 0 auto

.profile-message
  margin: 0.5rem 0 1rem 1rem
  text-align: center

.profile-message--error
  color: #9E0C0F

.profile-message--info
  color: #2285A2
  
.profile-message--success
  color: #4A831C

.profile-meta
  font-size: 0.7rem
  padding-left: 0.5rem
  text-align: left
  display: inline-block