
.settings-menu
  max-width: none !important
  height: 100%

.settings-column
  padding: 0 !important
  height: 100%

.settings-menu-list
  list-style-type: none
  margin: 0

.settings-menu-list-item
  transition: background-color 0.3s ease, color 0.3s ease
  padding: 1rem 1.5rem
  display: block
  color: #CCC

.settings-menu-list-item:hover
  background: #DDD
  color: #333 

.settings-menu-list-item--active,
.settings-menu-list-item--active:hover
  border-top: 1px solid #EEE !important
  border-bottom: 1px solid #EEE !important
  color: #333
  font-weight: bold
  background: inherit
  
.settings-menu-list-item .fa
  margin-right: 0.5rem
  font-size: 14px
  
.settings
  border-left: 1px solid #EEE !important
  padding: 1rem 2rem !important
  height: 100%

.settings-categories-add,
.settings-categories-delete
  font-size: 24px
  margin-left: 1rem
  display: inline-block

.settings-categories-delete
  color: error_color
  opacity: 0.7

.settings-categories-delete:hover
  color: error_color
  opacity: 1.0

.settings-categories-buttonrow
  margin-top: 1rem !important

.settings-categories-upload
  position: relative

.settings-categories-upload-icon
  color: black
  opacity: 0.3
  position: absolute
  margin-left: auto
  margin-right: auto
  text-align: center
  left: 0
  right: 0
  top: 50%
  margin-top: -1rem

.settings-category-save
  float: right

.columns--small
  width: 3rem !important

.columns--nopadding
  padding: 0 !important

.settings-categories-item-move
  line-height: 2.2rem !important
  float: right
  display: block
  cursor: move

.settings-categories-item-save
  display: inline-block
  line-height: 2.1rem
  padding: 0 0.5rem

.settings-categories-item-edit,
.settings-users-item-edit
  display: inline-block
  line-height: 2.3rem
  padding: 0 0.5rem

.settings-header
  font-size: 2rem
  margin: 0.5rem 0rem 2rem
  font-weight: normal